.row
  .large-12.columns
    .panel.radius
      %h3.subheader Oops.
      %p An error accured. Our techs are on it.
      %p 
        In the meantime you can always go 
        = succeed "." do
          %a{:href => "/"} back
