.row
  .large-8.columns
    %ul#gallery.small-block-grid-4.large-block-grid-6
      =# haml :gallery if !request.xhr?

    #load_more
      .small.button.expand.radius
        %i.icon-cloud-download.icon-2x 
        Load more

  = haml :sidebar

%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.mousewheel.js"}
%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.fancybox.pack.js"}
:javascript
  $(document).ajaxStart(function() {
    $('#load_more i').removeClass('icon-cloud-download').addClass('icon-spinner icon-spin');
  }).ajaxStop(function() {
    $('#load_more i').removeClass('icon-spinner icon-spin').addClass('icon-cloud-download');
  });

  $(document).ready(function() {

    var items = 15;
    var skip = items;

    $.get('/gallery/' + items + '/0', function(data){
      $(data).appendTo("#gallery");
      if (skip >= "#{count_all_pictures}") {
        $('#load_more').hide();
      }
    });

    $('#load_more').click(function(data){
      if(skip < "#{count_all_pictures}") {
        console.log(skip);
        console.log("#{count_all_pictures}");
        $.get('/gallery/' + items + '/' + skip, function(data){ 
          $(data).appendTo("#gallery");
          skip += 12;
        });
      }
      else {
        $('#load_more').hide();
      }
    });

    $('.fancybox').fancybox({
      openEffect: 'none',
      closeEffect: 'none',

      prevEffect: 'none',
      nextEffect: 'none',

      //autoPlay: true,
      loop: false,

      //closeBtn  : false,

      helpers: {
        title: {
          type: 'inside'
        }
      },

      afterLoad : function() {
        this.title = 'Bild ' + (this.index + 1) + ' von ' + this.group.length + (this.title ? ' - ' + this.title : '');
      }
    });

  });
