%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1.subheader
        %a{:href => "/"}
          %i.icon-camera-retro.icon-large 
          = page_title
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "/"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li
    / Right Nav Section
    %ul.right
      %li.divider.hide-for-small
      -if admin?
        %li
          %a{:href => "/upload"}
            %i.icon-upload.icon-large 
            Upload
        %li.divider
      %li.divider.show-for-small
      %li
        -if admin?
          %a{:href => '/logout'}
            %i.icon-lock.icon-large 
            Logout
        -else
          %a{:href => '#', "data-reveal-id" => "login"}
            %i.icon-unlock.icon-large 
            Login

#login.reveal-modal.medium
  %form(action="/login" method="post")
    %fieldset
      %legend Login
      %row
        .large-12.columns
          %label Username:
          %input{:type => :text, :name => :username} 
        .large-12.columns
          %label Password:
          %input{:type => :password, :name => :password} 
        .large-12.columns
          .row
            .large-6.small-6.columns
              %input.small.button.success.radius.left{:type => "submit", :value => "Login"}
            .large-6.small-6.columns
              %a.small.button.alert.radius.right{:href => "/"} Cancel
  %a.close-reveal-modal &#215;
