.large-6.columns
  %h3.subheader
    %i.icon-camera-retro.icon-large 
    %a.title{:href => "/"}
      Sinatra Gallery

.large-6.columns
  %ul.inline-list.right
    -if admin?
      %li
        %a{:href => "/upload"}
          %i.icon-upload.icon-large 
          Upload
    %li
      -if admin?
        %a{:href => '/logout'}
          %i.icon-lock.icon-large 
          Logout
      -else
        %a{:href => '#', "data-reveal-id" => "login"}
          %i.icon-unlock.icon-large 
          Login

#login.reveal-modal.medium
  %form(action="/login" method="post")
    %fieldset
      %legend Login
      %row
        .large-12.columns
          %label Username:
          %input{:type => :text, :name => :username} 
        .large-12.columns
          %label Password:
          %input{:type => :password, :name => :password} 
        .large-12.columns
          .row
            .large-6.small-6.columns
              %input.small.button.success.radius.left{:type => "submit", :value => "Login"}
            .large-6.small-6.columns
              %a.small.button.alert.radius.right{:href => "/"} Cancel
  %a.close-reveal-modal &#215;
