.row
  .large-8.columns
    %form#file_upload(action="/upload" method="post" enctype="multipart/form-data")
      -# %input{:type => :hidden, :name => :key}

      .fileupload-content
        .fileupload-progress
      .file-upload
        %label.fileinput-button
          %span Upload Document
          %input{:type => :file, :name => :file}
          %input.small.button{:type => "submit",:value => "Upload"}
          

%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.ui.widget.js"}
%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.iframe-transport.js"}
%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.fileupload.js"}
