.row
  .large-8.columns
    %h1 Upload Document
    .row
      .large-6.columns
        %form#file_upload(action="/upload" method="post" enctype="multipart/form-data")
          .file-upload
            %label Title
            %input.title{:type => "text", :placeholder => "Insert Title", :name => :title}
            %label File
            %input.file{:type => :file, :name => :file, :multiple => "", :accept => 'image/*'}
            -#%input.small.button{:type => "submit" ,:value => "Upload", :id => 'upload'}

        #progress_bar
          .progress
            %span.pb{:class => "meter", :style => "width: 0%"}
      .large-6.columns
        #uploaded_documents

%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.ui.widget.js"}
-#%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.iframe-transport.js"}
%script{:type => "text/javascript", :src => "/javascripts/vendor/jquery.fileupload.js"}
:javascript
  $(document).ready(function() {
    $('#progress_bar').hide();

    $('#file_upload').fileupload({
      autoUpload: true,
      add: function (event, data) {
        $.ajax({
          url: '/upload',
          type: 'POST',
          dataType: 'json',
          data: {doc: {title: data.files[0].name}},
        });

        //data.context = $('#upload').val('Uploading...');
        data.submit();
      },
      progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress_bar .progress .pb').css('width', progress + '%');
      },
      send: function(e, data) {
        $('#progress_bar').show();
      },
      fail: function(e, data) {
        console.log('fail');
        console.log(data);
        var url = '/notification/alert/Somethin_went_wrong';
        $('#flash_notice').load(url);
      },
      done: function (e, data) {
        $('.title').val('');
        $('#progress_bar .progress .pb').css('width', '0%');
        $('#progress_bar').hide();
        $('#loading').hide();
        //$('#upload').val('Upload');
        console.log(data.result);
        var url = '/notification/success/Upload_successful';
        $('#flash_notice').load(url);
        $('#uploaded_documents').hide().html("<img src='/t/" + data.result._id + "'></img>").fadeIn('slow');
      }

    });
  });
